{% extends "base.html" %}
{% load static %}

{% load cloudinary %}
{% cloudinary photo.image width=993 height=993 crop="fill" %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'manager/css/manager.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1 class="text-center">{{title}}</h1>
<div class="mx-auto">

    <form action="{% url 'add_category' %}" method="post" class="form-group text-left rounded" id="additem-form"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group container mx-auto w-75">
            {{form.author | as_crispy_field}}
            {{form.title | as_crispy_field}}
        </div>
        <div class="mx-auto text-center my-5">

            <button id="submit-button"
                class="mx-auto text-center my-5 form-group bg-success btn btn-outline-success rounded btn-lg text-black border-0 mx-auto"
                value="Upload">
                <span class="font-weight-bold">Confirm </span>
            </button>
        </div>
    </form>
</div>
{% endblock %}