{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid m-0 p-0">
    <div class="row w-100">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Manage Categories</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="rounded p-0 bg-white mx-auto mt-5 px-3 text-center my-5">
        <a class="text-black text-decoration-none btn btn-primary mx-auto" href="{% url 'add_category' %}">
            <h4>Add Category <ion-icon name="add-circle"></ion-icon>
            </h4>
        </a>
    </div>
    {%if categories %}
    <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11 m-xl-11 p-0 mx-auto">
    <div class="row w-100 mx-auto">
        {% for categorie in categories %}
        <div
            class="col-sm-11 col-md-3 col-lg-2 col-xl-3 m-xl-3
                rounded p-0  hvr-float-shadow
                bg-white mx-auto mt-5 text-center">
            <div class="h-100 border-0 rounded text-center">
                <p class="text-capitalize">{{categorie}}</p>
                <div class="">

                    <a href="{% url 'edit_category' categorie.id %}">
                        <span class="badge badge-primary text-capitalize  text-black badge-pill">Edit</span>
                    </a>
                    <a href="{% url 'del_category' categorie.id%}">
                        <span class="badge badge-warning text-capitalize text-black badge-pill">Delete</span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {%endif%}
    </div>
</div>
</div>
{% endblock %}