{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid m-0 p-0">
    <div class="row w-100">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Stock</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="rounded p-0 bg-white mx-auto mt-5 px-3 text-center my-5">
        <a class="text-black text-decoration-none btn btn-primary mx-auto" href="{% url 'add_category' %}">
            <h4>Add Category <ion-icon name="add-circle"></ion-icon>
            </h4>
        </a>
    </div>
    {%if categories %}
    <div class="container p-0">
        <ul class="list-group list-group-flush text-center text-black">
            {% for categorie in categories %}
            <li class="list-group-item">{{categorie}}
                <a href="{% url 'edit_category' categorie.id %}">
                    <span class="badge badge-primary text-black badge-pill">Edit</span>
                </a>
                <a href="{% url 'del_category' categorie.id%}">
                    <span class="badge badge-warning text-black badge-pill">Delete</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {%endif%}
</div>
{% endblock %}