{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 p-0 text-center my-4">
            <h3 class="my-5"> Capricio Store</h3>
            <hr class="w-50">
            <div class="row col-12 w-100 p-0 my-5">
                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
                    <p>Since October 2022 we have created our self-service Capricio cottage!
                        Our Capricio Store is always open! Come and browse you will find several articles.</p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-7 col-xl-7">
                    <picture>
                        <img src="https://res.cloudinary.com/djvwk7zf2/image/upload/v1676283020/capricciosmall_emuh40.png" alt="" class="w-100">
                    </picture>
                </div>
            </div>
            <h3 class="my-5">Our Story</h3>
            <hr class="w-50">
            <div class="text-left my-5">

                <p>Capricio was born in 2022 thanks to my Friend froid desire to have a plotter machine. Slowly our first creations were born, and as a result the passion for creativity and our whims increased.
                    After starting to produce fabric items, year after year we have added other types of processing:
                    paper, vinyle, glass and wood that are processed with the plotter and then transformed into various types of creations.
                    
                    Capricio has in its assortment cards for every occasion, bags, glasses, photo holders, but also splendid lights and many other customizable objects.
                    
                    We are proud to have inaugurated our Capricio self-service cottage in Basel in 2022; open all year round.</p>
            </div>
</div>
{% endblock %}