{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100 p-0 text-center my-4">
            <h3 class="my-5">"Cassetta" Capricci</h3>
            <hr class="w-50">
            <div class="row col-12 w-100 p-0 my-5">
                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
                    <p>Since November 2020 we have created our self-service Capricci cottage!
                        Our capricci house is always open! Come and browse you will find several articles.</p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-7 col-xl-7">
                    <picture>
                        <img src="https://res.cloudinary.com/djvwk7zf2/image/upload/v1675003348/Captura_desde_2023-01-29_15-41-53_hklehc.png" alt="" class="w-100">
                    </picture>
                </div>
            </div>
            <h3 class="my-5">Our Story</h3>
            <hr class="w-50">
            <div class="text-left my-5">

                <p>Capricci was born in 2012 thanks to my daughter Joleine's desire to have a sewing machine. Slowly our first creations were born, and as a result the passion for creativity and our whims increased.
                    After starting to produce fabric items, year after year we have added other types of processing:
                    paper, vinyle, glass and wood that are processed with the plotter and then transformed into various types of creations.
                    
                    Capricci has in its assortment cards for every occasion, clutch bags, bags and necklaces, magnetic photo holders with our large fabric hearts, but also splendid lanterns and many other customizable objects.
                    
                    We are proud to have inaugurated our Capricci self-service cottage in Gerra Piano in 2020; open all year round.</p>
            </div>
</div>
{% endblock %}