    #home {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Slightly larger container on xl screens */
    @media (min-width: 1200px) {
        #home {
            width: 100%;
            height: 700px;
            background: url("https://res.cloudinary.com/djvwk7zf2/image/upload/v1676284938/logo_gdxcay.jpg");

        }
    }

    /* fixed top navbar only on medium and up */
    @media (min-width: 992px) {
        #home {
            width: 100%;
            height: 700px;
            background: url("https://res.cloudinary.com/djvwk7zf2/image/upload/v1676284938/logo_gdxcay.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;


        }

    }

    @media (max-width: 991px) {
        #home {
            width: 100%;
            height: 1100px;
            background: url("https://res.cloudinary.com/djvwk7zf2/image/upload/v1676285080/logo_phone_l9fft4.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

        }
    }