#id_full_name, #id_email{
    width: auto;
}
#id_phone_number, #id_canton{
    width: auto;
}
#id_city, #id_postcode{
    width: auto;
}
#id_street_address1, #id_street_address2{
    width: auto;
}


#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}