html {
    height: 100%;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Roboto', sans-serif;
}

.bg-one {
    background-color: #c13d00ea;
}
.bg-two {
    background-color: #3c7fffcf;
}
.font-dancing {
    font-family: 'Dancing Script', cursive;
}

.font-sunshine {
    font-family: 'Sunshiney', cursive;
}

/* font-family: 'Dancing Script', cursive; */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}
/*  Input style */
input {
    position: absolute;
    z-index: 1;
}

.spinner-button {
    position: absolute;
    cursor: default;
    z-index: 2;
    background-color: #ccc;
    width: 14.5px;
    text-align: center;
    margin: 0px;
    pointer-events: none;
    height: 10px;
    line-height: 10px;
}

#up-button {
    left: ;
    top: 10px;
}

#down-button {
    left: 40px;
    top: 20px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }


}

@media (max-width: 991px) {
    #nav_pc {
        display: none;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    #nav_phone {
        width: 0px;
        padding: 0px;
        visibility: collapse;
    }

    .header-container {
        padding-top: 164px;
    }

    #logo {
        visibility: hidden;

    }
}