#id_title{
    width: auto;
}

#id_content, #id_featured_image{
    width: 80%;
}
a, a:hover{
    color: rgb(38, 0, 255);
}
.master_head {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://img.freepik.com/free-photo/tropical-swiss-cheese-plant-banner_53876-129938.jpg?w=996&t=st=1677253455~exp=1677254055~hmac=7cddd06ae640000271bb2af1fe509bc96107f077ab6a6e015dbf6e74db5d2881");
    color: white;
    width: 250;
    height: 150px;
    position: static;
}

.masthead_image{
    height: 300px;
    width: 300px;
}


#id_body{
    width: 80%;
}
#id_email{
    width: auto;
}

.post_pic{
    height: 400px;
    width: 400px;
}

.form-control {
    width: 80%;
}