{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay w-100"></div>
<div class="mb-2 m-0 p-0 w-100 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
    <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mx-auto">
        <div class="col p-0 mx-auto">
            <h2 class="mt-5 logo-font mb-4 text-center text-capitalize">checkout</h2>
            <hr class="w-75 bg-info">
            <hr class="w-50 bg-info">
            <hr class="w-25 bg-info">
        </div>
    </div>

    <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mx-auto">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto d-flex align-content-start flex-wrap">
            <form method="post" class="w-100 col-sm form-group  text-center rounded p-1 d-print-block">
                {{ order_form | crispy}}
                <button type="submit" class="mt-5 bg-one btn btn-outline-success rounded btn-lg text-black border-0">Continue to Pay</button>
            </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-0 mx-auto">
            {% if cart_items %}
            <div class="table-responsive ">

                <table class="table table-bordered table-hover rounded w-100 mx-auto">
                    <thead class="bg-black text-white">
                        <tr>
                            <th scope="col" colspan="2">Article</th>
                            <th scope="col" colspan="2">Details</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    {% for item in cart_items%}
                    <tbody>
                        <tr class="table-black">
                            <th scope="row" colspan="2">{{item.product.title}}</th>
                            <td>{{item.product.price}}</td>
                            <td>x{{item.quantity}}</td>
                            <td>{{item.temp_tot}} </td>
                        </tr>
                    </tbody>
                    <!-- {{cart_items | safe}} -->
                    {% endfor %}
                </table>
            </div>
            <div class="w-75 p-3 mx-auto">
                <p class="text-capitalize d-flex flex-row-reverse">total item cost {{total}}</p>
                <p class="text-capitalize d-flex flex-row-reverse">total shipping {{free_delivery_delta}}</p>
                <p class="text-capitalize d-flex flex-row-reverse">total: {{grand_total}}</p>
            </div>
          
            {% else %}
            <div class="text-black">
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'prods_cat' %}" class="btn btn-outline-black rounded-0 btn-lg text-black">
                    <span class="icon">
                        <ion-icon name="chevron-back-circle"></ion-icon>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}