<footer class="bg-dark">
    <hr class="bg-one w-100 mt-2">
    <div class="row m-0">

        <div class="col-sm-11 col-md-6 col-lg-6 col-xl-6 mx-auto  text-white p-0">
            <div class="container text-left p-0 mx-1 w-75">
                <strong> Handmade gifts</strong>
                <p >
                    From November 2020 we have created our Capricio Store self-service!
                    Our store "Capricio Store" its always opens !
                    Come with Us and Look our Handmade products or contact us if u want to customize an article
                </p>
            </div>
        </div>
        <div class="col-sm-11 col-md-5 col-lg-5 col-xl-5 mx-auto p-0">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup" class="bg-dark border-left border-white m-1 p-3">
                <form
                    action="https://herokuapp.us21.list-manage.com/subscribe/post?u=9c82f60c13f5bea1711bf6037&amp;id=8cfce4adf0&amp;f_id=003ad2e1f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                    class="validate p-0 m-0" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll" class="text-white">
                        <h2 class="text-center">Subscribe </h2>
                        <hr class="w-50 bg-white">
                        <small class="">To recive our offers and newsletter</small>
                        <div class="text-white text-right">
                            <span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">
                                Email Address<span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email rounded form-control" 
                            id="mce-EMAIL" required placeholder="Example@.email.com">
                            <span id="mce-EMAIL-HELPERTEXT" class="p-0 helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <label for="hiden">hiden</label>
                            <input type="text" id="hiden" name="b_9c82f60c13f5bea1711bf6037_8cfce4adf0" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent my-3">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="button btn bg-white text-black">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
        </div>

    </div>
    <div class="container text-white row col-12 py-5 px-0">
        <div class="container text-center text-white col-sm-4 col-md-3 col-lg-3 col-xl-3 p-0">
            <h3 class="">Home</h3>
            <hr class="bg-white w-50">
            <a href="{% url 'prods_cat' %}" class="text-white">Products</a>
        </div>
        <div class="container text-center text-white col-sm-4 col-md-3 col-lg-3 col-xl-3 p-0">
            <h3 class="">Information</h3>
            <hr class="bg-white w-50">
            <div>
                <a class="text-white" href="{% url 'about_us'%}">About Us</a>
            </div>

            <div class="text-decoration-none">
                <small>All rights reserved</small>
                <small>The images used are purely fiction and for academic purposes we do not seek to profit and if there is any copyright problem, please contact us to remove it.</small>
            </div>
        </div>
        <div class="container text-center text-white col-sm-4 col-md-3 col-lg-3 col-xl-3 p-0">
            <h3 class="">Developed By</h3>
            <hr class="bg-white w-50">
            <p>David Hernandez </p>
            <a href="https://www.linkedin.com/in/david-hern%C3%A1ndez-b3764b171/" class="text-white">
                <ion-icon name="logo-linkedin"></ion-icon> LinkedIn
            </a>
        </div>
        <div class="container text-center text-white col-sm-4 col-md-3 col-lg-3 col-xl-3 p-0">
            <h3><strong> Follow Us on </strong></h3>
            <hr class="w-50 bg-white">
            <div>
                <a href="https://www.facebook.com/profile.php?id=100089305256045" target="_blank"
                    class="text-white text-decoration-none">
                    <ion-icon name="logo-facebook"></ion-icon> Capricio
                </a>
            </div>
        </div>
    </div>
</footer>