<div class="mx-auto row">
    <div class="list-inline-item dropdown p-0 m-1">
        <a class="text-black nav-link d-block d-lg-none text-center p-0 m-0 " href="#" id="user-options"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ion-icon name="person"></ion-icon>
            {% if request.user.is_authenticated %}
            <p class="my-0 pr-1">{{user}}</p>
            {% else %}
            <p class="my-0 pr-1">Account</p>
            {% endif %}
        </a>
        <div class="dropdown-menu border-0 rounded-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="#" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="list-inline-item text-black p-0 m-1">
        <a class="text-black nav-link d-block d-lg-none p-0 m-0" href="#" id="mobile-search" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div>
                    <ion-icon name="search-outline"></ion-icon>
                </div>
                <p class="my-0">Search</p>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-0 rounded-0 my-0" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 's_prods' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control form-control btn btn-black border border-black rounded-0"
                            type="submit">
                            <span class="icon">
                                <ion-icon name="search-outline"></ion-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="list-inline-item p-0 m-1">
        <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none p-0 m-0"
            href="{% url 'cart' %}">
            <div class="text-center text-black">
                <div class="pr-1">
                    <ion-icon name="cart"></ion-icon>
                </div>
                <p class="my-0">
                    {% if grand_total %}
                    CHF {{ grand_total|floatformat:2 }}
                    {% else %}
                    CHF 0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </div>
</div>