<div class="collapse navbar-collapse p-0 m-0 text-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto p-3">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 btn-outline-warning" aria-labelledby="all-products-link">
                <a href="{% url 'prods' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'prods_cat' %}?categ=category" class="dropdown-item" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">By Category</a>
                <div class="dropdown-menu border-0 btn-outline-warning" aria-labelledby="Catehory pascua">
                    <a href="{% url 'prods_cat' %}?categ=pascua" class="dropdown-item">Pasqua</a>
                </div>
                <a href="{% url 'prods_cat' %}?order=price"class="dropdown-item ">By Price</a>
                <a href="{% url 'prods_cat' %}?order=scount" class="dropdown-item">By Scount</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type 1
            </a>
            <div class="dropdown-menu border-0 btn-outline-warning" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Option 1</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type 2
            </a>
            <div class="dropdown-menu border-0 btn-outline-warning" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Option 1</a>
            </div>
        </li>

        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Type 3
            </a>
            <div class="dropdown-menu border-0 btn-outline-warning" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Option 1</a>
            </div>
        </li>
    </ul>
</div>