  <div id="nav_pc" class="row bg-two">
    <div class="mx-auto row bg-two">

      <div class="list-inline-item dropdown bg-two">
        <a class="nav-link text-center row text-decoration-none bg-two ml-auto" href="#" id="user-options2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="w-100 bg-two">
            {% if request.user.is_authenticated %}
            <ion-icon name="person" class=""></ion-icon>
            {% else %}
            <ion-icon name="person-add" class=""></ion-icon>
            {% endif %}
          </div>
          <p class="my-0 p-0 w-100 text-capitalize bg-two">
            {% if request.user.is_authenticated %}
            {{user}}
            {% else %}
            Account
            {% endif %}
          </p>
        </a>
        <div class="dropdown-menu p-1 btn btn-outline-secondary text-center bg-two dropleft"
          aria-labelledby="user-options2">
          {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <a href="{% url 'products_manager' %}" class="bg-two dropdown-item py-2 rounded w-100 text-center mx-auto px-0">Product
            Management</a>
          <a href="{% url 'cats_manager' %}"   class="bg-two dropdown-item py-2 rounded w-100 text-center mx-auto px-0">Categories
            Management</a>
          {% endif %}
          <a href="{% url 'profile' %}"        class="bg-two dropdown-item py-2 rounded w-100 text-center mx-auto px-0">Orders</a>
          <a href="{% url 'account_logout' %}" class="bg-two dropdown-item py-2 rounded w-100 text-center mx-auto px-0">Logout</a>
          {% else %}
          <a href="{% url 'account_signup' %}" class="bg-two dropdown-item py-2 rounded w-100 text-center mx-auto px-0">Register</a>
          <a href="{% url 'account_login' %}"  class="bg-two dropdown-item py-2 rounded w-100 text-center mx-auto px-0">Login</a>
          {% endif %}
        </div>
        <!-- </div> -->
      </div>
      <div class="list-inline-item">
        <a class="{% if grand_total %} font-weight-bold{% else %} {% endif %} bg-two nav-link"
          href="{% url 'cart' %}">
          <div class="text-center row px-3 bg-two">
            <div class="w-100">
              <ion-icon name="cart" class=""></ion-icon>
            </div>
            <div class="w-100">
              <p class="my-0 ">
                {% if grand_total %}
                CHF {{ grand_total|floatformat:2 }}
                {% else %}
                CHF 0.00
                {% endif %}
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="pl-2 text-one">
        <a href="{% url 'home' %}" class="nav-link main-logo-link" id="logo-pc">
          <h2 class="rounded  bg-two text-warning my-0 text-capitalize font-weight-bold font-dancing p-1">
            <ion-icon name="ribbon-outline" class=""></ion-icon>Capricio
          </h2>
        </a>
      </div>
    </div>

    <div class="mx-auto p-3">
      <form method="GET" action="{% url 's_prods' %}">
        <div class="input-group w-100 bg-two">
          <label for="search-bar" class="d-none bg-two">empty</label>
          <input class="form-control bg-one  border border-black font-weight-bold rounded-left" type="text" name="q"
            placeholder="Search our site" id="search-bar">
          <div class="input-group-append text-one">
            <button class="form-control btn btn-light border border-black rounded-right text-one" type="submit">
              <span class="d-none">Hiden</span>
              <span class="icon font-weight-bold">
                <ion-icon name="search-outline" class=""></ion-icon>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>