  <div id="nav_pc" class="row w-100">
    <div class="mx-auto row">

      <div class="list-inline-item dropdown ">
        <a class="nav-link text-center row text-decoration-none text-black ml-auto" href="#" id="user-options2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="w-100 text-black">
            {% if request.user.is_authenticated %}
            <ion-icon name="person" class=""></ion-icon>
            {% else %}
            <ion-icon name="person-add" class=""></ion-icon>
            {% endif %}
          </div>
          <p class="my-0 p-0 w-100 text-capitalize text-black">
            {% if request.user.is_authenticated %}
            {{user}}
            {% else %}
            Account
            {% endif %}
          </p>
        </a>
        <div class="dropdown-menu border-0 border border-black p-1 btn btn-outline-secondary text-center text-black "
          aria-labelledby="user-options2">
          {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <a href="{% url 'products_manager' %}" class="dropdown-item py-2 rounded w-75 text-center">Product
            Management</a>
          {% endif %}
          <a href="{% url 'account_logout' %}" class="dropdown-item py-2 rounded w-75 text-center">Logout</a>
          {% else %}
          <a href="{% url 'account_signup' %}" class="dropdown-item py-2 rounded w-75 text-center">Register</a>
          <a href="{% url 'account_login' %}" class="dropdown-item py-2 rounded w-75 text-center">Login</a>
          {% endif %}
        </div>
        <!-- </div> -->
      </div>
      <div class="list-inline-item">
        <a class="{% if grand_total %} font-weight-bold{% else %} {% endif %} text-black nav-link"
          href="{% url 'cart' %}">
          <div class="text-center row px-3 text-black">
            <div class="w-100">
              <ion-icon name="cart" class=""></ion-icon>
            </div>
            <div class="w-100">
              <p class="my-0 ">
                {% if grand_total %}
                CHF {{ grand_total|floatformat:2 }}
                {% else %}
                CHF 0.00
                {% endif %}
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="pl-2 text-one">
        <a href="{% url 'home' %}" class="nav-link main-logo-link" id="logo-pc">
          <h2 class="rounded text-danger bg-white my-0 text-capitalize font-weight-bold font-dancing p-1">
            <ion-icon name="ribbon-outline" class=""></ion-icon>Capricci
          </h2>
        </a>
      </div>
    </div>

    <div class="mx-auto p-3">
      <form method="GET" action="{% url 's_prods' %}">
        <div class="input-group w-100 ">
          <label for="search-bar" class="d-none">empty</label>
          <input class="form-control bg-light  border border-black font-weight-bold rounded-left" type="text" name="q"
            placeholder="Search our site" id="search-bar">
          <div class="input-group-append text-one">
            <button class="form-control btn btn-light border border-black rounded-right text-one" type="submit">
              <span class="icon font-weight-bold">
                <p class="d-none">Hiden</p>
                <ion-icon name="search-outline" class=""></ion-icon>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>