<div class="mx-auto row text-black mx-auto">
    <div id="app_icon" class="p-0 mx-0 my-auto">
        <button class="list-inline-item navbar-toggler py-2 mx-2 bg-white mx-auto border-0 text-one" type="button"
            data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="text-one">
                <ion-icon name="grid-outline"></ion-icon>
            </span>
        </button>
    </div>
    <div class="list-inline-item dropdown p-0 m-1 text-black">
        <a class="nav-link d-block d-lg-none text-center p-0 m-0 text-decoration-none text-one" href="#"
            id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ion-icon name="person"></ion-icon>
            {% if request.user.is_authenticated %}
            <p class="my-0 pr-1">{{user}}</p>
            {% else %}
            <p class="my-0 pr-1">Account</p>
            {% endif %}
        </a>
        <div class="dropdown-menu border-0 rounded-0 text-black" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'products_manager' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Orders</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="list-inline-item text-one p-0 m-1">
        <a class="nav-link d-block d-lg-none p-0 m-0 text-decoration-none text-one" href="#" id="mobile-search"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center ">
                <div>
                    <ion-icon name="search-outline"></ion-icon>
                </div>
                <p class="my-0">Search</p>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-0 rounded-0 my-0" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 's_prods' %}">
                <div class="input-group w-100">
                    <label class="d-none" for="search-bar-phone">hiden</label>
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Search our site" id="search-bar-phone">
                    <div class="input-group-append">
                        <button class="form-control form-control btn btn-black border border-black rounded-0"
                            type="submit">
                            <span class="d-none">hiden</span>
                            <span class="icon ">
                                <ion-icon name="search-outline"></ion-icon>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="list-inline-item p-0 m-1">
        <a class="{% if grand_total %}font-weight-bold{% else %} {% endif %} nav-link d-block d-lg-none p-0 m-0 text-one text-decoration-none"
            href="{% url 'cart' %}">
            <div class="text-center">
                <div class="pr-1">
                    <ion-icon name="cart"></ion-icon>
                </div>
                <p class="my-0">
                    {% if grand_total %}
                    {{ grand_total|floatformat:2 }}
                    {% else %}
                    0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </div>
</div>