<nav class="navbar navbar-expand-lg navbar-light bg-light row w-100 p-0" id="nav_pc">
  <div class="pl-5">
    <a href="{% url 'home' %}" class="nav-link main-logo-link" id="logo">
      <h2 class=" text-dark my-0 text-capitalize font-weight-bold font-dancing">Capricci </h2>
    </a>
  </div>
  <div class="w-75 my-auto py-1 px-5">
    <form method="GET" action="" class="">
      <div class="input-group w-100 ">
        <input class="form-control bg-light text-dark border border-black font-weight-bold rounded-left" type="text"
          name="q" placeholder="Search our site">
        <div class="input-group-append ">
          <button class="form-control btn btn-light border border-black rounded-right" type="submit">
            <span class="icon text-black font-weight-bold">
              <ion-icon name="search-outline"></ion-icon>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="my-auto py-1 py-lg-0 p-0">
    <ul class="navbar-nav">
      <li class="list-inline-item dropdown">
        <a class="text-dark nav-link p-0" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="text-center row p-0">
            <div class="p-0 w-100">
              <ion-icon name="person"></ion-icon>
            </div>
            <div class="w-100">
            {% if request.user.is_authenticated %}
              <p class="my-0 p-0 w-100">{{user}}</p>
              {% else %}
              <p class="my-0 p-0 w-100">Account</p>
              {% endif %}
            </div>
            <div class="dropdown-menu border-0 border border-black p-1 btn btn-outline-secondary text-center" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="dropdown-item p-2 rounded">Product Management</a>
              {% endif %}
              <a href="" class="dropdown-item p-2 rounded">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item p-2 rounded">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item p-2 rounded">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item p-2 rounded">Login</a>
              {% endif %}
            </div>
          </div>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
          <div class="text-center row px-5 ">
            <div class="w-100">
              <ion-icon name="cart"></ion-icon>
            </div>
            <div>
              <p class="my-0 text-dark ">
                {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
                {% else %}
                $0.00
                {% endif %}
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>