{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container h-100 text-black text-center py-5 pl-3 text-sm-left w-100">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary btn-lg active" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
</div>
{% endblock %}
