{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container h-100 text-black text-center py-5 pl-3 text-sm-left w-100">
  <h1 class="text-black">{% trans "Sign Up" %}</h1>
  <p class="text-black">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
      in</a>.{% endblocktrans %}
  </p>
  <form class="signup rounded" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary btn-lg active">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
{% endblock %}