{% extends "base.html" %}
<div class="container h-100 text-dark">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            {% load i18n %}

            {% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

            {% block content %}
            <h1>{% trans "Verify Your E-mail Address" %}</h1>

            <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the
                signup process. If you do not see the verification e-mail in your main inbox, check your spam folder.
                Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}