@import './variables.scss';

.Standard{
    background-color: $Background;
    color: $Fontcolor;
    margin-top: 0px;
    padding: 0px;
    min-height: 90vh;

}
.Standard a{
    background-color: transparent;
    color: $Fontcolor;
    text-decoration: none !important;
}

.MainContent{
    margin:0px;
    padding-top: $HeaderHeight;
    margin-top: $HeaderHeight;
}