@import './variables.scss';

.FooterDiv1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.FooterDiv2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
    padding: 10px;
    justify-content: center;
}
.Hiden {
    display: none;
}

.ColLG6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.ColLG3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.W50 {
    width: 50%;
}

.Padding {
    padding-top: 3rem !important;
}

.BorderLeft {
    border-left: 1px solid $Fontcolor !important;
}

@media (min-width: 1250px) {
    .FooterDiv1 {
        display: grid;
        grid-template-columns: repeat(auto-fill, 480px);
        gap: 20px;
        padding: 10px;
        justify-content: center;
    }
    .FooterDiv2 {
        grid-template-columns: repeat(auto-fill, 400px);
    }
}

@media (min-width: 1450px) {
    .FooterDiv1 {
        display: grid;
        grid-template-columns: repeat(auto-fill, 700px);
        gap: 20px;
        padding: 10px;
        justify-content: center;
    }

}