@import './variables.scss';

.NavLi {
    display: inline;
    float:left;
}

.NavLi a {
    font-size: x-large ;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: $Background !important;
    background-color: $Fontcolor !important;
    margin: 12px 10px;
}

.NavLi a:hover {
    color: $Fontcolor !important;

}
.HomeButton a{
    font-size: xx-large !important;
    margin: 5px;
    width: $TitleSize;
}

.HeaderStandard {
    height: $HeaderHeight;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}

.Nav {
    padding: 0px !important;
    margin: 0px !important;
    color: $Background !important;
    background-color: $Fontcolor !important;
    width: $NavWidth;
    height: $NavHeight;
}

.DropdownMenu {
    color: $Fontcolor !important;
    background-color: $Background !important;
    margin: 0px;
    max-height: $HeaderHeight;
}
.TitleLink{
    font-size: xx-large !important;

}
.TitleLink a:hover{
    font-size: xx-large !important;
    
}
.DropdownMenuTitle {
    display: flex;
    justify-content: space-around;

}

.DropdownMenuButton {
    margin: 10px 0px;
    position: relative;
}

@media(max-width: $ScreenLittle) {
    .Nav {
        display: none;
    }

    li a {
        font-size: x-large !important;
    }

    .NavLi a:hover {
        font-size: x-large !important;
    }

    .DropdownMenu {
        z-index: 1;
        color: $Background !important;
        background-color: $Fontcolor !important;
    }

    .DropdownMenu ul {
        list-style: none;
    }

    .DropdownMenu a {
        color: $Background !important;
        background-color: $Fontcolor !important;
    }
}

@media(min-width: 600px) {
    .DropdownMenu {
        width: $DropMenuWidth;
        height: $DropMenuHeight;
        display: none;
    }
    .DropdownMenuTitle{
        display: none;
    }
}