@import './variables.scss';

.NavLi {
    display: inline;
    float: left;
}

.NavLi a {
    font-size: x-large !important;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: $Background !important;
    background-color: $Fontcolor !important;
    margin: 10px;
}

.NavLi a:hover {
    font-size: xx-large !important;
}

.HeaderStandard {
    height: 10px;
}

.Nav {
    padding: 0px !important;
    margin: 0px !important;
    color: $Background !important;
    background-color: $Fontcolor !important;
    width: 100%;
    height: 70px;
}

.DropdownMenu {
    color: $Fontcolor !important;
    background-color: $Background !important;
    margin: 0px;

}
.TitleLink{
    font-size: xx-large !important;

}
.TitleLink a:hover{
    font-size: xx-large !important;
    
}
.DropdownMenuTitle {
    display: flex;
    justify-content: space-around;

}

.DropdownMenuButton {
    margin: 10px 0px;
    position: relative;
}

@media(max-width: 600px) {
    .Nav {
        display: none;
    }

    li a {
        font-size: x-large !important;
    }

    .NavLi a:hover {
        font-size: x-large !important;
    }

    .DropdownMenu {
        z-index: 1;
        color: $Background !important;
        background-color: $Fontcolor !important;
    }

    .DropdownMenu ul {
        list-style: none;
    }

    .DropdownMenu a {
        color: $Background !important;
        background-color: $Fontcolor !important;
    }
}

@media(min-width: 600px) {
    .DropdownMenu {
        width: 100%;
        height: 200px;

    }
    .DropdownMenuTitle{
        display: none;
    }
}