// Body
$Background: #f5deb3;
// $Background: #303030;
$Fontcolor: #303030;
// $Fontcolor: #f5deb3;
// NavBar
    // Nav Bar Height
        // normal screen 
            $NavHeight: 13vh;
        // small screen 
        $NavHeightSc: 20vh;
    // Nav Bar width
        $NavWidth: 100%;    
    // Nav Bar Title
        $TitleSize: 30vw;
    // Header Height
        $HeaderHeight: 15vh;
    // NAV BAR Drop Menu
        $DropMenuWidth: 100%;
        $DropMenuHeight: 90px ;
        $DropMenuMaxHeight: 16vh;
// Products
$ImagesSize: 300px;
$CardSize: 350px;
$DescriptionDivMargin:10px; 
// Decorators
    // Screen
    $ScreenLittle: 600px;
    $ScreenMedium: 800px;
    $ScreenBig: 1000px;