{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class=" mt-5 mx-0 p-0">
    <div class="text-center">
        <h1 class="text-center text-capitalize">courses</h1>
        <hr class="w-50 text-center">
    </div>
    <div class="col-12 p-0">
        <div class="row w-100 mx-auto">
            {% if request.user.is_superuser %}
            <div class="col-sm-10 col-md-5 col-lg-3 col-xl-3 m-xl-3 
                    rounded p-0  hvr-float-shadow bg-white mx-auto">
                <a class="text-black text-decoration-none " href="{% url 'add_course' %}">
                    <div class=" p-0 bg-white text-center">
                        <div class="pt-1 px-1 bg-white d-flex justify-content-center">
                            <img class="card-img-top "
                                src="https://res.cloudinary.com/djvwk7zf2/image/upload/v1674063110/add_image.png"
                                alt="Add Post">
                        </div>
                        <h2>Add Post</h2>
                    </div>
                </a>
            </div>
            {%endif%}
            {%for post in posts %}
            <div class="col-sm-10 col-md-5 col-lg-3 col-xl-3 
                p-0  hvr-float-shadow bg-white mx-auto my-5">
                <a class="text-black text-decoration-none " href="{% url 'course_datails' post.id %}">
                    <div class="card  border-0 p-0 bg-white text-center">
                        <div class="pt-1 px-0 bg-white d-flex justify-content-center mx-auto">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top post_pic"
                                src="https://res.cloudinary.com/djvwk7zf2/image/upload/v1674063110/add_image.png"
                                alt="{{post.title}}" aria-label="{{post.title}}">
                                <h2 class="position-absolute text-capitalize w-100">{{post.title}}</h2>
                            {% else %}
                            <img class="card-img-top post_pic" src=" {{ post.featured_image.url }}"
                                alt="{{post.title}}" aria-label="{{post.title}}">
                                <h2 class="position-absolute text-capitalize bg-white w-100">{{post.title}}</h2>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {%endfor %}
        </div>
    </div>
</div>
{% endblock %}