{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="David Hernandez">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Handmade Store to buy gifts or request to customise">
  <meta name="keywords" content="gift, decorations, gift ideas, christmas gifts, handmade gifts, 
    handmade decorations, buy a gift,
    personalised gifts, christmas gift ideas, christmas decorations, christmas presents, easter presents,
    easter decorations, easter gift ideas, gift, decorations, gift ideas, christmas gifts,
    handmade gifts, handmade decorations, buy a gift, personalised gifts, christmas gift ideas,
    christmas decorations, christmas presents, easter presents, easter decorations, easter gift ideas,
    winter presents, winter decorations, winter gift ideas, birthday gift ideas, birthday gifts, birthday decorations,
    gift ideas, wedding gift ideas, , gift shop, gift storewinter presents, winter decorations, winter gift ideas, 
    birthday gift ideas, birthday gifts, birthday decorations, gift ideas, wedding gift ideas, gift shop, gift store">
  <!-- google Verification -->
  <meta name="google-site-verification" content="9FKeiFv0oxQ68WCIY1RQhXmIdDy96hK772dqeLHYn0U" />
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block core_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sunshiney&display=swap" rel="stylesheet">
  <!-- chimpmail -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block core_js %}
  <!-- bootstrap -->
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <!-- ion icons -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- base local scripts in static files -->
  <script src="{% static 'script/script.js' %}"></script>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  <!-- chimpmail -->
  <script type='text/javascript'>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  <!--End mc_embed_signup-->
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Capricio {% block extra_title %}{% endblock %}</title>
</head>

<body class="w-100 h-100">
  <header id="header" class="container-fluid absolute-top p-0 m-0 ">
    {% include 'includes/nav_bar_base.html' %}
    <nav class="navbar navbar-expand-lg navbar-light p-0 m-0  bg-two w-100 mr-2">
      <div id="nav_phone" class="mx-auto row bg-two text-black p-0">
        {% include 'includes/nav_bar_phone.html' %}
      </div>
      {% include 'includes/nav_bar_large_products.html' %}
    </nav>
    <hr class="w-72  bg-one">
    <!-- messagess -->
    {% include 'includes/messages.html' %}


  </header>
  <div id="content" class="p-0 bg-white text-black">
    {% block content %}
    {% endblock %}
  </div>

  {% block postloadjs %}
  {% endblock %}

  {% include 'includes/footer.html' %}

</body>

</html>