{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block core_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="" href="{% static 'favicon/favicon.ico' %}" />
  {% endblock %}

  {% block extra_css %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sunshiney&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'payup/css/payment.css' %}">
  {% endblock %}

  {% block core_js %}
  <!-- bootstrap -->
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <!-- ion icons -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- base local scripts in static files -->
  <script src="{% static 'script/script.js' %}"></script>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Capricci {% block extra_title %}{% endblock %}</title>
</head>

<body class="text-black w-100 h-100">
  <header class="container-fluid absolute-top p-0 m-0 bg-white w-100">

    <!-- Products filters  -->
    {% include 'includes/nav_bar_base.html' %}

    <nav class="navbar navbar-expand-lg navbar-light p-0 m-0  bg-white w-100">
      <div id="nav_phone" class="mx-auto row bg-white text-black p-2">

        <div id="nav_phone" class="">
          <button id="nav_phone" class="list-inline-item navbar-toggler py-2 mx-2 bg-white mx-auto" type="button"
            data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        {% include 'includes/nav_bar_phone.html' %}
      </div>
      {% include 'includes/nav_bar_large_products.html' %}
      </nav>
<hr class="w-72  bg-one">
    <!-- messagess -->
    {% include 'includes/messages.html' %}


  </header>
  <div class="p-0 m-0 bg-white text-black">
    {% block content %}
    {% endblock %}
  </div>

  {% block postloadjs %}
  {% endblock %}


</body>

</html>